@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap%27');
@import url('components/container.css');
@import url('components/presentation.css');
@import url('components/buttons.css');
@import url('components/avatar.css');
@import url('components/sections.css');
@import url('components/Footer.css');
@import url('components/card.css');
@import url('components/exo.css');
@import url('components/navbar.css');
@import url('components/Titre.css');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
    
html,
body {
  height: 100vh;
  font-family: "Caveat", sans-serif;
  background-color: white;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}